*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: Gloria;
    src: url(assets/fonts/GloriaHallelujah-Regular.ttf) format('truetype');
}

.Gloria {
    font-family: Gloria;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
